*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: white;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.coi-lg-12{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* ======================================= */

.CRUD .head h1{
  background: linear-gradient(to right, #baff1a 0%, rgb(109, 95, 15) 100%);
  background-clip: text;
  color: transparent;
  font-size: 45px;
}
.CRUD .head p{
  font-size: 20px;
}
.head{
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 40px;
  background-color: #114232;
  border: 2px solid transparent;
  color: white;
  padding: 1rem;
  box-shadow: 2px 2px 5px black, inset 2px 2px 5px rgb(53, 51, 51),
    -1px -1px 20px rgba(59, 56, 56, 0.781);
  outline: none;
  border-radius: 10px;
  font-size: medium;
}
input:focus {
  box-shadow: 2px 2px 5px black, inset 2px 2px 5px black,
    -1px -1px 5px rgba(68, 67, 67, 0.781),
    inset -1px -1px 5px rgba(66, 65, 65, 0.822);
}
.inputs .salary{
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  gap: 10px;
}
#total{
  background: #87A922;
  padding: 7px;
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#total::before{content: "Total : ";}
button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #fff;
  background-color: #87A922;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #114232;
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  margin: 15px 0;
}
button:hover {
  color: #516d91;
  background-color: #F7F6BB;
  box-shadow: 2px 2px 5px black, inset 2px 2px 5px black,
  -1px -1px 5px rgba(68, 67, 67, 0.781),
  inset -1px -1px 5px rgba(66, 65, 65, 0.822);
  letter-spacing: 1px;
}
button:active {box-shadow: none;}
.outputs{
  border-bottom: 1px solid #FCDC2A;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.btnsearch{
  display: flex;
  gap: 20px;
}
#deleteAll{margin: 20px 0;}
/*============= Table ==============*/
.table{
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}
.table td, .table th{
  padding: 12px 15px;
  border: 1px solid #FCDC2A;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}
.table th{
  background-color: #114232;
  text-transform: capitalize;
}
.table tr{text-align: center;}

/* Media */
@media (max-width:500px) {
  .inputs .salary{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
  }
  .btnsearch{display: block;}

  .table thead{display: none;}

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before{
    content: attr(date-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
@media (min-width:501px) and (max-width:991px){
  .inputs .salary{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
  }

  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before{
    content: attr(date-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}